.edital_box .inputs {
    width: 100%;
    height: 65%;
    flex-wrap: wrap;
}

.edital_box .input_box {
    width: 47%;
}

.edital_box .input_box .input_text {
    width: 100%;
}


.edital {
    color: var(--secondary);
}

.btn {
    width: 100% !important;
}